@import 'tailwindcss';

@theme {
  --font-sans: Noto Sans, sans-serif;
}

.btn {
  @apply px-6 py-4;
}

.btn-primary {
  @apply bg-red-200;
}

.btn-primary:hover {
  @apply bg-red-300;
}

input {
  @apply border-neutral-400 border-solid border-1;
  @apply w-full;
  @apply px-4 py-2;
}

h1 {
  @apply text-5xl;
}

svg {
  @apply fill-neutral-500 stroke-neutral-500;
}
